#frogface {
    background-color: red;
    height: 250px;
    width: 250px;
}

#hi {
    background-color: palegoldenrod;
    height: 400px;
    width: 400px;
    border-radius: 15%;
    margin:200px 200px;
}